.container{
    display: flex;
    margin-bottom: 1em;
    flex-direction: row-reverse;
    justify-content: space-between;
    @media (max-width: 1101px){
        flex-direction: column;
    }
}