.footer{
    background-color: rgb(82, 82, 82);
    &__nav{
        padding: 1.3em;

        &__logo{
            font-size: 1.8em;
            font-family: 'Shrikhand', cursive;
            text-decoration: none;
            color: $blanc;
        }
    }

    &__list{
        padding: 0;
        list-style: none;
        & li {
            padding-bottom: .3em;
        }
        & li > a {
            color: $blanc;
            text-decoration: none;
        }
    }
}