.main{
    background: $fontGrisClair;
    //Image
    &__imgContainer{
        
        &__img{
            max-width: 100%;
        }
    }
    //Les itemes
    &__items{
        position: relative;
        top: -2em;
        width: 100%;
        padding-bottom: 2em;
        background: $fontGrisClair;
        border-radius: 2em 2em 0 0;
        &__item--flex{
            display: flex;
            justify-content: space-between;
            
        }
        &__item{
            padding: 0 2em 0 2em;
            position: relative;
            @media (max-width: 1200px){
                display: flex;
                flex-wrap: wrap;
            }
            &__heading{
                font-family: 'Shrikhand', cursive;
                @media (max-width: 360px){
                    font-size: 1.4em;
                }
            }
            /* animation du coeur */
            &__like {
                position: absolute;
                right: 2em;
                top: 2.9em;
                cursor: pointer;
                &--padding{
                    top: 1em;
                }
                @media (max-width: 360px){
                    top: 2.1em;
                }
                
                &:hover > &__heart--animation1 {
                opacity: 1;
                font-size: 2rem;
                @media (max-width: 360px){
                    font-size: 1.6em;
                }
                }
                &:hover > &__heart--animation2 {
                opacity: 0;
                }
                &__heart {
                    transform: translate(-60%, -60%);
                    position: absolute;
                    &--animation2 {      
                    @include animation2;
                    }
                    &--animation1 {
                    @include animation1;
                    }
                    @media (max-width: 360px){
                        font-size: 1.6em;
                    }
                }
            }
            &__body{
                opacity: 0;
                &[class*="body_1"]{
                    
                    animation: loadeCartes 1.3s 0.2s forwards ease-in-out;
                }
                &[class*="body_2"]{
                    
                    animation: loadeCartes 1.3s 0.4s forwards ease-in-out;
                }
                &[class*="body_3"]{
                    
                    animation: loadeCartes 1.3s 0.8s forwards ease-in-out;
                }
                @media (max-width: 422px){
                    max-width: 100%;
                    width: 22em;
                }
                margin-bottom: 2em;
                &__heading{
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 0.3em;
                    @media (max-width: 400px){
                        font-size: 1em;
                    }
                }
                & .carteContainer{
                    display: flex;
                    
                    & .cartePackage{
                        padding-top: 0.5em;
                        padding-right: 0.5em;
                        padding-bottom: 0.5em;
                    }
                    @media (max-width: 1200px){
                        flex-direction: column;
                    }
                }
                &__barre{
                    height: 0.2em;
                    width: 50px;
                    margin-left: 0.1em;
                    background-color: $tertiaire;
                }
                &__carte{
                    max-width: 100%;
                    margin-top: 0.5em;
                    cursor: pointer;
                    background-color: $blanc;
                    box-shadow: 0px 0px 10px #55555538;
                    border-radius: 1rem;
                    width: 23em;
                    display: flex;
                    justify-content: space-between;
                    &:hover > &__element1{
                        animation-name: whiteBox;
                        animation-duration: 1s;
                        animation-fill-mode: both;
                        animation-timing-function: cubic-bezier(.09,.73,.44,.9);
                    }
                    &:hover > &__element2{
                        animation-name: greenBox;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-timing-function: cubic-bezier(.09,.73,.44,.9);
                    }
                    &:hover > &__element2 > i{
                        width: 100%;
                        animation-name: IconAnimation;
                        animation-delay: 0.2s;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-timing-function: cubic-bezier(.09,.73,.44,.9);
                    }
                    &__element1{
                        display: inline-block;
                        flex-grow: 1;
                        padding: 5px 8px 10px 10px;
                        &__text{
                            display: flex;
                            justify-content: space-between;
                            padding-top: 10px;
                            // background-color: red;
                            @media (max-width: 400px){
                                font-size: 0.9em;
                            }
                            &__1{
                                padding-right: 0.1em;
                                max-width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                @media (max-width: 360px){
                                    font-size: 0.8em;
                                }
                        
                            }
                            &_2{
                                @media (max-width: 360px){
                                    font-size: 0.8em;
                                    font-weight: normal;
                                }
                            }
                            &__1, &__2, &__3{
                                margin: 0;
                            }
                            
                            
                        }
                        &__heading{
                            margin: 0;
                            @media (max-width: 400px){
                                font-size: 0.9em;
                            }
                            @media (max-width: 360px){
                                font-size: 0.8em;
                            }
                        }
                    }
                    &__element2{
                        background-color: $tertiaire;
                        border-radius: 0 1rem 1rem 0;
                        text-align: center;
                        padding-top: 1em;

                        & > i{
                            overflow: hidden;
                            width: 0;
                            color: white;
                        }
                        
                    
                    }
                    

                }

            }

            
        }
        &__btnContainer{
            margin-top: 1em;
            text-align: center;
            @media (max-width: 450px){
                margin-top: 0; 
            }
            &--width{
                font-size: 1.2em;
                align-self: center;
                @media (max-width: 450px){
                    font-size: 1em; 
                }
                @media (max-width: 400px){
                    font-size: 0.9em; 
                }
            }
        }
    }
}


//Les animations
@keyframes IconAnimation{

    15%{
        transform: rotate(60deg);
    }

    30%{
        transform: rotate(120deg);
    }

    45%{
        transform: rotate(180deg);  
    }
    60%{
        transform: rotate(240deg);
    }
    75%{
        transform: rotate(300deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

//Animate de la case verte menth
@keyframes greenBox{
    15%{
       width: 1em;
    }
    30%{
        width: 2em;
    }
    45%{
        width: 3em;
    }
    60%{
        width: 4em;
    }
    75%{
        width: 5em;
    }
    
    100%{
        width: 6em;
        
    }
}

//Animate de la case blanche
@keyframes whiteBox{
    15%{
        width: 94.8%;
    }
    30%{
        width: 89.7%;
    }
    45%{
        width: 84.50%;
    }
    60%{
        width: 79.33%;
    }
    75%{
        width: 74.17%;
    }
    100%{
        width: 69%;
    }
}

@keyframes loadeCartes {
    0%{
        opacity: 0.1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }

}