// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
body{
    font-family: $policeTexte;
    box-sizing: border-box;
    margin: 0;
}

