.menu{
    border: 2px solid $fontGrisClair;
    &__heading{
        font-size: 1.6em;
        padding-left: 1.3em;
        @media (max-width: map-get($max-large, 600)){
            font-size: 1.4em;          
        }
    }
    @media (max-width: map-get($max-large, 1101)){
        border: 0;           
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: map-get($max-large, 1101)){
            display: flex; 
            padding-bottom: 2em;     
        }
        &__container{
            display: inline-block;
            width: 90%;
            text-align: center;
            position: relative;
            padding: 0.8em;
            display: inline-block;
            text-decoration: none;
            color: $noir;
            @media (max-width: map-get($max-large, 1101)){
                width: 20em;        
            }
            @media (max-width: map-get($max-large, 1039)){
                width: 80%;        
            }
            &__item{
                box-shadow: -1px 11px 18px -7px rgb(150, 148, 148);
                padding-top: 0.7em;
                padding-bottom: 0.7em;
                display: flex;
                justify-content: center;
                background-color: $fontGrisClair;
                border-radius: 18px;
                width: 100%;
                @media (max-width: map-get($max-large, 1101)){
                    width: 100%;          
                }

                &:hover{
                    background-color: $roseTransparent;
                }
                &:hover > &__icon{
                    color: $primaire; 
                }

                &__text{
                    font-size: 1.1em;
                    font-weight: bold;
                    @media (max-width: 360px){
                        font-size: 1em;            
                    }
                    @media (max-width: 290px){
                        font-size: 0.9em;            
                    }
                }
                &__icon{
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-right: 1.5em;
                    @media (max-width: map-get($max-large, 360)){
                        font-size: 1em;            
                    }
                    @media (max-width: map-get($max-large, 290)){
                        font-size: 0.9em;            
                    }
                }
    
                &__number{
                    position: absolute;
                    left: -1px;
                    top: 39px;
                    padding: 4px 4px 2px 3px;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    color: $blanc;
                    border-radius: 30px 30px;
                    background-color: $primaire;

                    @media (max-width: map-get($max-large, 200)) {
                        &{
                            position: absolute;
                            left: -3px;
                            top: 14px;
                            padding: 0px 1px 4px 1px;
                            width: 10px;
                            height: 10px;
                            text-align: center;
                            color: $blanc;
                            border-radius: 30px 30px;
                            background-color: $primaire;
                        }
                    }
                    @media (max-width: map-get($max-large, 360)){
                        font-size: 0.9em;
                        padding: 2px 2px 2px 2px;
                        width: 17px;
                        height: 17px;         
                    }
                }

                
            }
        }
    
    }

}