@mixin animation2 {
    transition: all 0.7s ease-in;
    opacity: 1;
    font-size: 2rem;
  }

  @mixin animation1 {
    display: initial;
    transition: all 0.6s ease-in;
    background: linear-gradient(175deg, $secondaire, $primaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    font-size: 0.05em;
  }