/*Couleurs*/
$blanc: #fff;
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$fontGris: #e9e9e9;
$fontGrisClair: #f5f4f4;
$noir: #111;
$roseTransparent: #faeff7;
$btnSize: 1em;
$unitWidth: 5.16666666667%;
$max-large: (
    1400: 1400px,
    1200: 1200px,
    1101: 1101px,
    1039: 1039px,
    1000: 1000px,
    800: 800px,
    700: 700px,
    600: 600px,
    533: 533px,
    500: 500px,
    400: 400px,
    450: 450px,
    422: 422px,
    399: 399px,
    360: 360px,
    340: 340px,
    300: 300px,
    290: 290px,
    200: 200px
);
$tailleTexte-1: 1rem;
$maxLarge-600: 600px;
$maxLarge-400: 400px;


/*Polices*/
$policeTitre: Shrikhand;
$policeTexte: 'Roboto', sans-serif;;

/*Espacement*/
$headerPadding: 1em 0 1em 0;


